body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
h3 {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
p {
    color: #434455;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/* HEADER */
/* HEADER */
.logo {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}
.logo-part {
    color:#4D5AE5;
}
.nav-list-link {
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}
.nav-list-item {
    list-style-type: none;
}
.contacts-list-link {
    color: #434455;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none; 
}
.contacts-list-item {
    list-style-type: none;
}
/* ORDER */
/* ORDER */
.order {
    background-color: #2E2F42;
}
h1 {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.order-button {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: 0;
    width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* ABOUT US */
/* ABOUT US */
.about-list {
    list-style-type: none;
}
/* OUR TEAM */
/* OUR TEAM */
.team {
    background-color: #F4F4FD;
}
.team-list{
    list-style-type: none;
}
.team-list-item {
    background-color: #fff;
}
.team-list-link {
    text-decoration: none;
}
/* OUR PORTFOLIO */
/* OUR PORTFOLIO */
.portfolio-list {
    list-style-type: none;
}
.portfolio-list-link {
    text-decoration: none;
}
/* FOOTER */
/* FOOTER */
.page-footer {
    background-color: #2E2F42;
}
.logo-end,
.page-footer-text {
    color: #F4F4FD;
}